<% layout('/layouts/default.html', {title: '文章管理', libs: ['validate','fileupload','ueditor']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(flylArticle.isNewRecord ? '新增文章' : '编辑文章')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${flylArticle}" action="${ctx}/flyl/flylArticle/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<#form:hidden path="id"/>
				<#form:hidden path="sortId"/>
				<div class="row">

					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('归属分类')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<!--这里加上了树，可进行分类选择，保存文章时，就把这里选择的文章分类也一块保存了，这样就实现了点击树的末节点，展示一类文章的效果
								这里是通过cateId进行关联文章的类型的-->
								<#form:treeselect id="parent" title="${text('文章分类')}"
								path="cateId" labelPath="cateName"
								url="${ctx}/flyl/flylArticleCate/treeData?ctrlPermi=${@Global.getConfig('user.adminCtrlPermi', '2')}"
								class="form-control required" allowClear="true" canSelectRoot="true" canSelectParent="false"/>
							</div>
						</div>
					</div>

					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('文章标题')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="title" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<!--<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('标题颜色')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="titleColour" dictType="colour_sort" blankOption="true" class="form-control" />
							</div>
						</div>
					</div>-->
					<!--<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('标题大小')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="titlefontSize" maxlength="2" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('标题字型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="titlefontType" maxlength="2" class="form-control"/>
							</div>
						</div>
					</div>-->
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('完整标题')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="fullTitle" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('副标题')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="subhead" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('简介')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="intro" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('文章内容')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:ueditor name="content" path="content" maxlength="10000" height="200" class="required"
								simpleToolbars="true" readonly="false" outline="false"/>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('作者')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="author" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('标签')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="tag" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
				<#form:hidden path="inputer"/>
				<#form:hidden path="httpUrl"/>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('关键字')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="keyword" maxlength="200" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否置顶')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="ontop" dictType="sys_yes_no" blankOption="false" class="form-control digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('是否推荐')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="iselite" dictType="sys_yes_no" blankOption="false" class="form-control digits" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('媒体类型')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="mediaType" dictType="media_type" blankOption="false" class="form-control digits" />
							</div>
						</div>
					</div>
				<#form:hidden path="tempPath"/>

				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
								<span class="required hide">*</span> ${text('图片上传')}：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadImage" returnPath="true" filePathInputId="thumb"  bizKey="${flylArticle.id}" bizType="flylArticle_image"
								uploadType="image" class="form-control required" readonly="false" preview="true" maxUploadNum="1"/>
							</div>
						</div>
					</div>
					<#form:hidden path="thumb"/>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2">
								<span class="required hide">*</span> ${text('附件上传')}：</label>
							<div class="col-sm-10">
								<#form:fileupload id="uploadFile" returnPath="true" filePathInputId="filesPath" bizKey="${flylArticle.id}" bizType="flylArticle_file"
									uploadType="all" class="" readonly="false" preview="true" maxUploadNum="1"/>
							</div>
						</div>
					</div>
					<#form:hidden path="filesPath"/>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('flyl:flylArticle:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>