#此配置可用
[mysqld]
bind-address=0.0.0.0
port=3306
user=mysql
basedir=/usr/local/mysql8
datadir=/data/mysql8
socket=/tmp/mysql.sock
log-error=/data/mysql8/mysql.err
pid-file=/data/mysql8/mysql.pid
#character config
character_set_server=utf8mb4
symbolic-links=0
explicit_defaults_for_timestamp=true

#table name config
lower_case_table_names=1  #表名设置为小写
autocommit =1
